<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <a class="upcoming-projects" href="/project/<%= project.project_id %>">
                        <%= project.date.toLocaleDateString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric'
                            }) %>: <%= project.title %>
                    </a>
                    <a class="upcoming-organizations" href="organization/<%= project.organization_id %>">(<%= project.organization_name %>)
                    </a>
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>